.ItemList{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Item{
    Display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}